################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ChipThief/obj
/ChipThief/bin/Debug
/FerkOffCow/obj
/FerkOffCow/bin/Debug
/LuckyWheel/obj
/LuckyWheel/bin/Debug
/ScreanBotsCommon/obj
/ScreanBotsCommon/bin/Debug
/WelcomeToTheClubBuddy/obj
/WelcomeToTheClubBuddy/bin/Debug
/WinApiTools/obj
/WinApiTools/bin/Debug
/.vs
/LuckyWheel/obj/Debug/net8.0/LuckyWheel.AssemblyInfo.cs
/LuckyWheel/obj/Debug/net8.0/LuckyWheel.AssemblyInfoInputs.cache
/ChipThief/obj/Debug/net8.0/ChipThief.AssemblyInfo.cs
/ChipThief/obj/Debug/net8.0/ChipThief.AssemblyInfoInputs.cache
/FerkOffCow/obj/Debug/net8.0/JerkOffCow.AssemblyInfo.cs
/FerkOffCow/obj/Debug/net8.0/JerkOffCow.AssemblyInfoInputs.cache
/ChipThief/bin/Release/net8.0
/FerkOffCow/bin/Release/net8.0
/LuckyWheel/bin/Release/net8.0
/WelcomeToTheClubBuddy/bin/Release
/WinApiTools/bin/Release/net8.0
/ScreanBotsCommon/bin/Release/net8.0
/YoungMinecrafter/obj
/YoungMinecrafter/bin/Debug
/YoungMinecrafter/bin/Release/net8.0
/YoungMinecrafter/bin/Release/net8.0-windows
