################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/yt_DesignUI/obj
/yt_DesignUI/bin/Debug
/ChipThief/obj
/ChipThief/bin/Debug
/FerkOffCow/obj
/FerkOffCow/bin/Debug
/LuckyWheel/obj
/LuckyWheel/bin/Debug
/ScreanBotsCommon/obj
/ScreanBotsCommon/bin/Debug
/WelcomeToTheClubBuddy/obj
/WelcomeToTheClubBuddy/bin/Debug
/WinApiTools/obj
/WinApiTools/bin/Debug
/.vs
